
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body 
{
overflow-x: hidden;
background: #FFF;
min-height: 100vh;
background: cover;
background-repeat: no-repeat;
background: center;
background: center fixed;
background: rgba(18,44,100,1)
}
html {
    height: 100%;
    min-width: 100%;
}
#header 
{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10000;
}
#header .logo 
{
color: #000;
font-weight: 700;
font-size: 2em;
text-decoration: none;
font-family: 'Courier New', Courier, monospace;
font-style: bold;
}
#header ul 
{
display: flex;
justify-content: center;
align-items:center;
}
#header ul li 
{
list-style: none;
margin: left 20px;
margin-bottom: 15px;
}
#header ul li a 
{
text-decoration: none;
padding: 6px 15px;  
border-radius: 20px; 
}
#header ul li a:active 
{
color: #FFF;  
}
section 
{
position: relative;   
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
section::before
{
content: '';    
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100px;
z-index: 10;
}
section img
{
position: absolute;   
top: 0; 
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;
}
section #text
{
position: absolute;   
font-size: 10vw;
text-align: center;
line-height: 0,55em;
font-family: 'Rancho', cursive;
transform: translatey(-50%);
}
section #text span
{
font-size: 0,20em;    
letter-spacing: 2px;
font-weight: 400;
font-family: 'poppins', sans-serif;
}
#btn
{  
text-decoration: none;
display: inline-block;   
padding: 8px 30px;
background: #fff;
font-size: 1.2em;
font-weight: 500;
letter-spacing: 2px;
border-radius: 40px;
transform: translatey(100px);
}
.sec
{
position: relative;
}
.sec h2
{
font-size: 3.5em;
color: #fff;
margin-bottom: 10px;
}
.sec h1 {
    text-align: center;
    color: #FFF;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin-top: 40%;
}
.sec p
{
font-size: 1em;
color: #fff;
}
.sec2{
position: relative;
margin-bottom: 40%;
}
.sec2 p {
    font-size: 1.6em;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.sec2 h1 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30%;
    text-align: center;
}
.circle {
    border-radius: 50%;
    height: 20%;
    width: 20%;
    background-color: rgb(4, 217, 255);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 50%;
    font-size: 400;
    margin-left: 20%;
}
.Text {
    max-width: 400px;
    max-height: 250px;
    margin-left: 35%;
}
.Text h1 {
    color: #FFF;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
}
.Text p {
    text-align: center;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 20px;
}
.Container {
    width: 100%;
    height: 100%;
    height: 1250px;
}
.Container img {
    width: 45%;
}
.Container h1 {
text-align: center;
color: #FFF;
font-size: 35px;
font-family: 'Courier New', Courier, monospace;
margin-left: 50%;
}
.Container p {
color: #fff;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
font-style: italic;
margin-left: 50%;
}
.RoadMap h1 {
    margin-right: 50%;
}
.RoadMap span {
    color: #0078d0;
}
.RoadMap {
    background: rgb(24,90,152);
    background: linear-gradient(0deg, rgba(24,90,152,1) 0%, rgba(18,44,100,1) 100%);    
    width: 100%;
    max-height: 50%;
}
.RoadMap h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 200;
    font-family: sans-serif;
    font-style: italic;
    margin-left: 40%
}
.RoadMap h1 {
    color: #0078d0;
    margin-left: 4%;
    margin-top: 12%;
    font-size: 45px;
}
.RoadMap h3 {
    color: #fff;
    margin-left: 4%;
    font-size: 30px;
}
.RoadMap h6 {
    color: #fff;
    margin-left: 4%;
    font-size: 20px;
}
.Mintmap {
    height: 100%;
    background-color: rgb(24,90,152);
}
.Mintmap h1{
    color: #fff;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.Mintmap h2{
    color: #fff;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}
.Containerimg img {
    width: 50%;
    height: 20%;
    margin-left: 27%;
}
.Containerimg h2 {
font-size: 55px;
font-family: cursive;
color: #FFF;
margin-left: 43%;
}
.Containertext {
    margin-right: 20%;
}
.Merch {
    background-color: rgb(24,90,152);
    height: 760px;
}
.Merch h1 {
    color: #fff;
text-align: center;
}
.Merchbox {
    border-radius: 0;
    width: 100%;
    height: 25%;
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .columnteam {
    float: left;
    width: 33.3%;
    padding: 5px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: #FFF;
  }
  .columnRarity {
    float: left;
    width: 33.3%;
    padding: 5px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: #FFF;
    text-align: center;
  }
  .columnfaq {
    float: left;
    width: 33.3%;
    padding: 5px;
  }
  .columnSocial {
    float: left;
    width: 25%;
  }
  .Social {
      background-color: rgba(24,155,129,1);
      height: 100%;
  }
  .Social img {
      max-width: 50%;
      max-height: 35%;
      text-align: center;
      margin-left: 25%;
      margin-top: 20%;
  }
  .Social h1 {
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-style: italic;
      color: #fff;
      font-size: 35px;
  }
  .Team { 
    background: rgb(24,143,152);
background: linear-gradient(0deg, rgba(24,143,152,1) 0%, rgba(24,152,155,1) 50%, rgba(24,90,152,1) 100%);
    height: 900px;
    width: 100%;
  }
  .Team h1 {
      text-align: center;
      font-size: 50px;
      font-family: 'Courier New', Courier, monospace;
      font-style: italic;
      color: #FFF;
  }
.Faq {
    background: rgb(24,155,129);
    background: linear-gradient(0deg, rgba(24,155,129,1) 0%, rgba(24,145,152,1) 50%, rgba(24,143,152,1) 100%);
}
.Faq h1 {
    color: #FFF;
    font-size: 50px;
}
.Faq h3 {
    color: #FFF;
    font-size: 30px;
    text-align: center;
}
.Container img {
    width: 100%;
}
.Top img {
    height: 520px;
    width: 100%;
    height: 100%;
}
.Top {
    height: 200px;
}
.Middle {
    height: 502px;
}
.Middle img {
    width: 100%;
    height: 1560px;
}
.columnRarity {
    float: left;
    width: 33.3%;
    padding: 5px;
  }
  .Rarity h1 {
      text-align: center;
  }
  .Middletext {
    color: #FFF;
  }
  .Intro {
      width: 25%;
      height: 100px;
  }
  .Intro h1 {
      font-size: 40px;
      color: #000;
      font-family: 'Courier New', Courier, monospace;
      margin-left: 5%;
  }
  .Intro p {
      color: #fff;
      font-size: 1.1em;
      margin-left: 5%;
      font-family: 'Courier New', Courier, monospace;
  }
