
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Tiro+Telugu&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
}
body {
background: rgb(34,140,195);
min-height: 100vh;
}
html {
    height: 100%;
    min-width: 100%;
}
#header 
{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10000;
}
#header .logo 
{
color: #000;
font-weight: 700;
font-size: 2em;
text-decoration: none;
font-family: 'Courier New', Courier, monospace;
font-style: bold;
}
#header ul 
{
display: flex;
justify-content: center;
align-items:center;
}
#header ul li 
{
list-style: none;
margin: left 20px;
margin-bottom: 15px;
}
#header ul li a 
{
text-decoration: none;
padding: 6px 15px;  
border-radius: 20px; 
}
#header ul li a:active 
{
color: #FFF;  
}
section 
{
position: relative;   
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
section::before
{
content: '';    
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100px;
z-index: 10;
}
section img
{
position: absolute;   
top: 0; 
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;
}
.Container img {
    width: 100%;
}
.Top img {
    height: 520px;
    width: 100%;
    height: 100%;
}
.Top {
    height: 200px;
}
.Middle {
    height: 502px;
}
.Middle img {
    width: 100%;
    height: 1560px;
}
.wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 5rem;
    color: #444;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
  }
  .box img {
    width: 100%;
    height: 100%;
  }
  .Border {
    border: #444 10px solid;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    align-self: center;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #000;
  }
  footer {
	background-color: rgb(34,90,195);
	padding: 2rem 0;
	display: flex;
	justify-content: center;
	gap: 4rem;
    margin-top: 10%;
}

footer img {
	height: 5rem;
	border-radius: 30rem;
}
.button {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:active,
.button:focus {
  outline: none;
}

.button:hover {
  background-position: -20px -20px;
}

.button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
.box h1 {
    font-family: 'Quintessential', cursive;
}
.box p {
    font-family: 'Quintessential', cursive;
    font-family: 'Tiro Telugu', serif;  
    font-size: 14px;  
}
h4 {
    font-family: 'Quintessential', cursive;
    font-family: 'Tiro Telugu', serif;  
    font-size: 20px;    
}